
#search-container {
    /* background-color: rgb(68, 68, 68); */
    padding: 6px;
    border-radius: 25px;
}

#search-form {
    /* background-color: rgb(68, 68, 68); */
    border: none;
}

#loginBtn {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    padding: 6px 12px;
}
